body
{

		font-family: Helvetica;
		font-size: 18px;
		text-align: center;
	

}

.contenido1
{
	height: 300px;
	width: 100%;
}

.logo
{
	height: 158px;
	width: 336px;

}

#header
{
	text-align: center;
}

#gordito
{
	height: 500px;
	text-align: center; 
	background-color: #F5F3F4;
}

#muerto
{
	height: 500px;
	text-align: center;
	background-color: #DFECF5; 
}

#inlove
{
	height: 500px;
	text-align: center; 
	background-color: #DFE0F4;
}

#contenido2
{
	text-align: center;
}
